.container
    justify-content: center
    align-items: center
    flex-direction: column
    margin: 30px 0

    &__button
        padding: 10px 25px
        border-radius: 10px
        background-color: var(--accent)
        font-size: 24px
        cursor: pointer
        margin-top: 20%

        &_toggle
            margin-top: 0