body, html, #root
    margin: 0
    padding: 0
    height: 100%
    background-color: var(--background-color)
    color: var(--text-color)

.flex
    display: flex

.App
    flex-direction: column
    
html
    --accent: #7bc4f8
    --background-color: #F9F9F9
    --text-color:#292929
    --shadow: rgba(0, 0, 0, 0.3)
    --border: #b1b0b0

html[data-theme='dark']
    --accent: #4493cc
    --background-color: #222222
    --text-color: #F9F9F9
    --shadow: rgba(0, 0, 0, 0.0)
    --border: #474747


// animations

.animate
    animation-duration: 1s

    &__fadeIn
        animation-name: fadeIn

@keyframes fadeIn 
    0% 
        opacity: 0

    100%
        opacity: 1
